.box{
    border: 5px solid black;
    margin-left: 10px;
    margin-right: 50px;
    padding: 30px;
}
.box2{
    border: 10px solid black;
    margin: 40px 0 30 0;
}
.float-test{
    background-color: lightgreen;
    border: 5px dotted lightcyan;
    margin: 10px;
    width: 100px;
    float:inherit;
}